<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BDay Dumproom | Search</title>
    <link rel="stylesheet" href="/stylesheet.css"/>
</head>
<body>
    <nav>
        <h1>Find the Birthday</h1>
    </nav>
    <section>
        <form action="/search" method="POST">
        <label>Person's Name:</label>
        <input type="text" placeholder="Full Name" name="person" required /></br></br>
        <button id="submitButton">Submit</button>
        </form>
    </section>
</body>
</html>