<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BDay Dumproom | Searched</title>
    <link rel="stylesheet" href="/stylesheet.css"/>
</head>
<body>
    <nav>
        <a href="/"><div class="searchedBack">Back</div></a>
        <h1>Find the Birthday</h1>
    </nav>
    <section>
        <form >
        <label>Person's Name:</label>
        <input type="text"   value="<%= birthday.person %>"  /></br></br>
        <label>Birth Date:</label>
        <input type="text"   value="<%= birthdayDate %>"  />
        </form>
    </section>
</body>
</html>