<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BDay Dumproom | Searched</title>
    <link rel="stylesheet" href="/stylesheet.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">
    <nav>
        <a href="/"><div class="searchedBack">Back</div></a>
        <h1>Find the Birthday</h1>
    </nav>
    <section>
        <form >
        <label>Person's Name:</label></br>
        <input type="text"   value="<%= birthday.person %>"  /></br></br>
        <label>Birth Date:</label></br>
        <input type="text"   value="<%= birthdayDate %>"  />
        </form>
    </section>
    </div>
</body>
</html>