<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BDay Dumproom | Update</title>
    <link rel="stylesheet" href="/stylesheet.css"/>
</head>
<body>
    <nav>
        <h1>Update Birthdate</h1>
    </nav>
    <section>
        <form action="/update/<%= birthday._id %>" method="POST">
        <label>Person's Name:</label>
        <input type="text" name="person" value="<%= birthday.person %>" readonly /></br></br>
        <label>Date Of Birth:</label></br>
        <label>Earlier:</label>
        <input type="text" name="earlierBirthdayDate" value="<%= birthdayDate %>" readonly/></br>
        <label>Change To:</label>
        <input type="date" name="presentBirthdayDate" required  /></br>
        <button id="submitButton">Submit</button>
        </form>
    </section>
</body>
</html>