*{
    margin:0;
    padding:0;
}

body{
    width:100vw;
    height:100vh;
    box-sizing:border-box;
    padding:10px;
    display:flex;
    flex-direction:column;
    font-family: "Inika", serif;
    background-color:black;
}

#container{
    width:100%;
    height:100%;
    border-radius:15px;
    background-color:#1f1f1f;
    box-sizing:border-box;
    padding:10px;
}

nav h1{
    color:white;
    font-size:60px;
}
nav div{
   
    color:gray;
    margin-bottom:10px;
}
nav{
    border-bottom:1px solid white;
    margin-bottom:10px;
}

#home-navbar{
    display:flex;
    justify-content:flex-end;
    width:100%;
}

#home-navbar a{
    text-decoration:none;
}

#create{
    padding:10px;
    background-color:black;
    border-radius:10px;
    font-weight:700;
    color:white;
    margin-bottom:10px;
    margin-left:10px;
    transition: all 0.5s;
}
#create:hover{
    background-color: white;
    color:black;
}
#search{
    padding:10px;
    background-color:black;
    border-radius:10px;
    font-weight:700;
    color:white;
    margin-bottom:10px;
    margin-left:10px;
    transition: all 0.5s;
}
#search:hover{
    background-color: white;
    color:black;
}
#closest{
    padding:10px;
    background-color:black;
    border-radius:10px;
    font-weight:700;
    color:white;
    margin-bottom:10px;
    transition: all 0.5s;
}
#closest:hover{
    background-color: white;
    color:black;
}
.birthday{
    border-left:10px solid black;
    border-radius:5px;
    box-sizing:border-box;
    padding:10px;
    display:flex;
    align-items:center;
    width:100%;
    height:60px;
    justify-content:space-between;
    margin-bottom:10px;
    background-color: #383838;
    color:white
}
.birthdayText{
    display:flex;
    flex-direction:column;
}

.trashDiv{
    margin-left:10px;
}

.trashDiv svg{
    width:20px;
    height:20px;
    opacity:0;
}

.editDiv svg{
    width:20px;
    height:20px;
    opacity:0;
}

.trashDiv svg:hover{
    cursor:pointer;
}

.editDiv svg:hover{
    cursor:pointer;
}

.logos{
    display:flex;
    height:100%;
    align-items:center;
}

.birthday:hover .trashDiv svg{
    opacity:1;
}

.birthday:hover .editDiv svg{
    opacity:1;
}


.birthday:hover{
    border:3px solid white;
}

section form input{
    margin-top:5px;
    border-radius:5px;
    padding:5px 10px;
}

section form label{
    color:white;
    font-weight:700;
    font-size:20px;
}

.submitButton{
    padding:10px;
    border-radius:10px;
    background-color:#383838;
    color:white;
    font-weight:700;
    font-family:"Inika", serif;
    transition:all 0.5s;
    border:none;
    margin-top:10px;
}
.submitButton:hover{
    color:black;
    background-color: white;
}

.searchedBack{
    padding:10px;
    margin-bottom:10px;
    border-radius:10px;
    font-weight:700;
    color:white;
    background-color:#383838;
    display:inline-block;
    transition:all 0.5s;
    margin-top:10px;
}

.searchedBack:hover{
    color:black;
    background-color:white;
}

nav a{
    text-decoration:none;
}

.border{
    border:1px solid white;
}

#earlierBirthdayDate{
    margin-bottom:10px;
}

#dateOfBirthTag{
    padding-bottom:20px;
    display: block;
}